// Here you can add other styles
//pagination zone of tables like: order, customers,...
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar{
  display: flex !important;
  align-items: baseline !important;
}
//remove password input border
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
  border: none !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
  border: none !important;
}
//ẩn dòng selected row ở footer
.MuiDataGrid-selectedRowCount {
  display: none !important;
}
//khoảng cách các dòng trong phần order Status trang dashboard
.progress-group{
  height: 80px !important ;
}